{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  <title>Todo app</title>
  <link href="{% static '/js/app.5472bff6.js' %}" rel="preload" as="script">
  <link href="{% static '/js/chunk-vendors.b9e67d6e.js' %}" rel="preload" as="script">
</head>
<body><noscript><strong>Application requires javascript. Please enable it to continue</strong></noscript>
  <div id="app"></div>
  <script></script>
  <script src="{% static '/js/chunk-vendors.b9e67d6e.js' %}"></script>
  <script src="{% static '/js/app.5472bff6.js' %}"></script>
</body>
</html>
